/* Общий контейнер для размещения компонентов */
.app-container {
  display: flex; /* Используем flexbox для размещения элементов в строку */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  margin: 20px;
  font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Стили для WalletInfo */
.TransactionsContainer {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  width: 750px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 850px;
  margin: 20px; /* Отступ справа для WalletInfo и TransactionsContainer */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  text-align: center;
}

/* Заголовок внутри WalletInfo */
.wallet-info {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  width: 750px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 850px;
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  text-align: center;
}
.TransactionsContainer h2,
.wallet-info h2 {
  margin: 10px 0; /* Centered margin */
  color: #333;
  font-size: 2.5em; /* Increased font size */
  text-align: center;
  padding: 0 15px; /* Increased padding */
  font-weight: bold;
  border-radius: 8px; /* Rounded corners */
}

.wallet-detail {
  display: flex;
  justify-content: space-between;
  padding: 20px; /* Increased padding */
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.05em; /* Increased font size for wallet details */
}

.wallet-detail:last-child {
  border-bottom: none; /* Remove border for last item */
}

.button-container {
  display: flex;
  justify-content: center; /* Center buttons within the container */
  gap: 20px; /* Increased gap between buttons */
  margin-top: 20px; /* Top margin */
  font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button-container button {
  padding: 10px 20px; /* Increased padding for buttons */
  font-size: 1.2em; /* Increased button font size */
  border-radius: 8px; /* Optional: rounded button corners */
  font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.label {
  font-weight: bold;
  color: #555;
  font-size: 1.2em; /* Увеличили размер шрифта для меток */
}

.value {
  color: #333;
  overflow-wrap: break-word; /* Обеспечивает перенос длинного текста */
  font-size: 1.2em; /* Увеличили размер шрифта для значений */
  text-align: center;
}

.error {
  color: red;
  text-align: center;
  margin-top: 30px; /* Увеличили отступ сверху */
  font-size: 1.5em; /* Увеличили размер шрифта для ошибок */
}
.remove-token-button {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 10px;
  font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tokens-info li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Шрифт */
  text-align: auto;
}

/* Стиль для кнопки */
.toggle-button {
  display: block;
  margin: 20px auto; /* Центруем кнопку */
  padding: 10px 20px; /* Увеличиваем отступы кнопки */
  font-size: 1.2em; /* Увеличиваем размер шрифта кнопки */
  color: #fff;
  background-color: #007bff; /* Цвет фона кнопки */
  border: none;
  border-radius: 8px; /* Скругляем углы кнопки */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавный переход для изменения цвета фона */
  font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.toggle-button:hover {
  background-color: #0056b3; /* Цвет фона при наведении */
}

/* Стили для CheckBalance */
.check-balance {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  margin: 20px; /* Отступ слева для CheckBalance */
}

/* Стили для информации о балансе */
.balance-info {
  background-color: #ffffff; /* Белый фон для информации о балансе */
  border-radius: 12px; /* Скругление углов */
  padding: 15px; /* Отступы вокруг */
  margin: 10px 0; /* Отступ сверху и снизу */
  text-align: center; /* Центрируем текст */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Шрифт */
  border: 1px solid #e0e0e0; /* Легкая граница */
}

.balance-info p {
  font-size: 1.5em; /* Увеличенный размер шрифта для значений */
  color: #333; /* Цвет текста */
  margin: 5px 0; /* Отступы между параграфами */
}

.error-message {
  color: red; /* Цвет для ошибок */
  margin: 10px 0; /* Отступ сверху и снизу */
  font-size: 1.2em; /* Увеличенный размер шрифта для ошибок */
}

.fetch-transactions-button,
.pagination-controls button {
  display: block;
  margin: 20px auto; /* Центрируем кнопки */
  padding: 10px 20px; /* Увеличиваем отступы внутри кнопок */
  font-size: 1.2em; /* Размер шрифта кнопок */
  color: #fff; /* Белый цвет текста */
  background-color: #007bff; /* Синий цвет фона */
  border: none;
  border-radius: 8px; /* Скругление углов кнопок */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавный переход изменения фона */
  font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fetch-transactions-button:hover,
.pagination-controls button:hover {
  background-color: #0056b3; /* Темный синий цвет при наведении */
}

.pagination-controls {
  display: flex;
  justify-content: space-between; /* Размещаем кнопки по краям */
  align-items: center; /* Центрируем элементы по вертикали */
  margin-top: 20px; /* Отступ сверху */
}

.transactions-list {
  margin-top: 20px; /* Отступ сверху от кнопок */
}

.transaction-item {
  background-color: #f9f9f9; /* Светлый фон для транзакции */
  border-radius: 12px; /* Скругленные углы */
  padding: 15px; /* Отступы внутри */
  margin: 10px 0; /* Отступы между транзакциями */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
  overflow-wrap: break-word; /* Перенос длинного текста */
  text-align: center; /* Центрируем текст */
  font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.add-token-button {
  display: block;
  margin: 20px auto; /* Центрируем кнопки */
  padding: 10px 20px; /* Увеличиваем отступы внутри кнопок */
  font-size: 1em; /* Размер шрифта кнопок */
  color: #fff; /* Белый цвет текста */
  background-color: #007bff; /* Синий цвет фона */
  border: none;
  border-radius: 8px; /* Скругление углов кнопок */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавный переход изменения фона */
  font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.save-token-button {
  display: block;
  margin: 10px auto; /* Центрируем кнопки */
  padding: 10px 20px;
  font-size: 1em; /* Размер шрифта кнопок */
  color: #fff; /* Белый цвет текста */
  background-color: #007bff; /* Синий цвет фона */
  border: none;
  border-radius: 8px; /* Скругление углов кнопок */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавный переход изменения фона */
  font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.TransactionsContainer {
  position: relative;
  margin-top: 30px;
}
.TransactionsContainer h2 {
  font-size: 2rem;
}

.transactions-list {
  margin-top: 20px;
}

.transaction-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s, transform 0.4s;
}

.transaction-item:hover {
  background: #f0f0f0;
  transform: scale(1.025);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
  z-index: 1000; /* Убедитесь, что модальное окно отображается поверх других элементов */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  /* position: relative; */
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.close:hover {
  color: red;
}

.QR {
  margin: 20px;
  transition: transform 0.4s; /* Анимация для QR-кода */
}

.qr-code-container {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  margin: 20px; /* Отступ справа для WalletInfo и TransactionsContainer */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.send-transaction h2 {
  text-align: center;
  margin-top: 10px;
}

.send-transaction button {
  display: block;
  margin: 10px auto; /* Центрируем кнопки */
  padding: 10px 20px;
  left: 1000px;
  font-size: 1em; /* Размер шрифта кнопок */
  color: #fff; /* Белый цвет текста */
  background-color: #007bff; /* Синий цвет фона */
  border: none;
  border-radius: 8px; /* Скругление углов кнопок */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавный переход изменения фона */
  font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Gas-Container {
  position: fixed; /* Закрепляет контейнер относительно окна браузера */
  bottom: 0; /* Размещает контейнер внизу страницы */
  left: 0; /* Выравнивание по левому краю */
  right: 0; /* Выравнивание по правому краю */
  background-color: #ffffff; /* Цвет фона контейнера */
  padding: 20px; /* Отступы внутри контейнера */
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.3); /* Тень, чтобы отделить контейнер от остальной части страницы */
  z-index: 1000; /* Убедитесь, что контейнер отображается поверх других элементов */
  display: flex;
  justify-content: space-around; /* Равномерное распределение элементов внутри контейнера */
  align-items: center; /* Центрирование элементов по вертикали */
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Повышаем z-index, чтобы модальное окно было выше остальных элементов */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.QR {
  margin-bottom: 10px;
}

/* Контейнер для отправки транзакции */
.send-transaction {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  width: 750px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 850px;
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

/* Заголовок для контейнера отправки транзакции */
.send-transaction h2 {
  margin: 10px;
  color: #333;
  font-size: 2em; /* Увеличили размер шрифта заголовка */
  text-align: center;
  background-color: #ffffff; /* Фон заголовка */
  padding: 0 15px; /* Увеличили отступы вокруг заголовка */
  font-weight: bold;
  border-radius: 8px; /* Скругляем углы фона заголовка */
}

/* Стили для меток полей ввода */
.send-transaction label {
  font-weight: bold;
  color: #333;
  font-size: 1.5em; /* Размер шрифта меток */
  display: block;
  margin-bottom: 10px;
}

/* Стили для полей ввода */
.send-transaction input[type="text"],
.send-transaction input[type="number"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 1.5em; /* Увеличенный размер шрифта для полей ввода */
  box-sizing: border-box;
}

/* Стиль для кнопки отправки */
.send-transaction button {
  display: block;
  margin: 10px auto; /* Центрируем кнопку */
  padding: 10px 20px;
  font-size: 1.5em; /* Размер шрифта кнопки */
  color: #fff; /* Белый цвет текста */
  background-color: #007bff; /* Синий цвет фона */
  border: none;
  border-radius: 8px; /* Скругление углов кнопки */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавный переход изменения фона */
}

.send-transaction button:hover {
  background-color: #0056b3; /* Темный синий цвет при наведении */
}
